{{- $location := default (.Get 0) (.Get "location") -}}
{{- $company := default (.Get 1) (.Get "company") -}}
{{- $timespan := default (.Get 2) (.Get "timespan") -}}
{{- $title := default (.Get 3) (.Get "title") -}}
{{- $hasInner := gt (len (trim .Inner " \r\n")) 0 }}

<details>
  <summary>
    <em class="right" style="padding-left: 1em;">{{ $location }}</em>
    <strong>{{ $company }}</strong><br/>
    <span class="right" style="padding-left: 1em;">{{ $timespan }}</span>
    {{ $title | .Page.RenderString }}
  </summary>
  {{ if $hasInner }}
    <p>{{ .Inner | .Page.RenderString }}</p>
  {{ end }}
</details>